#foreach($row in $content)
<!-- MESSAGE START -->
<div class="row" id="$row.id">
  <div class="col-md-8 offset-1">
    <div class="forum-content">
      <div class="message-number"><a href="#$row.id">Сообщение № $row.number</a></div>
      <div class="menu-btn"><span></span></div>
      $row.content
    </div>
  </div>
  <div class="col-md-2">
    <div class="forum-author">
      <div class="avatar">
        <img src="$row.authorImg" width="32px">
        <div class="name">$row.authorUsername</div>
      </div>
      <div class="edit-short">изм. $row.changedAtShort</div>
      <div class="edit-full">($row.changedAtFull)</div>
    </div>
  </div>
</div>
<!-- MESSAGE END -->
#end

<script>
  document.addEventListener("DOMContentLoaded", () => {
    location.href = "#$currentId";
  });
</script>

<!-- PAGER START -->
<div class="row">
  <div class="col-md-8 offset-1">
    <div class="pager-content">
      Показать <a href="#1-5">1-5</a>, ... <a href="#21-25">21-25</a>, <span class="current">[26-30]</span>,
      <a href="#31-35">31-35</a>, ... <a href="#71-72">71-72</a>,
      или с <input type="text" value="26">
    </div>
  </div>
</div>
<!-- PAGER END -->

<div class="row">
  <div class="col-md-8 offset-1">
    <div>
      &nbsp;
    </div>
  </div>
</div>

<div style="display: none" id="message-menu-content">
  <ul>
    <li>Изменить</li>
    <li>Ответить</li>
    <li>Ответить с цитатой</li>
    <li>Ответить с цитатой по выделению</li>
  </ul>
</div>

<script>
  for (const elem of document.getElementsByClassName("menu-btn")) {
    elem.addEventListener('click', () => {
      for (const sub of document.getElementsByClassName("menu-btn")) {
        sub.classList.toggle('active', elem === sub ? undefined : false);
        if (sub.classList.contains("active")) {
          const back = document.createElement("div");
          back.classList.add("message-menu-back");

          const messageMenu = document.createElement("div");
          messageMenu.classList.add("message-menu");

          sub.appendChild(back);
          sub.appendChild(messageMenu);

          const mmc = document.getElementById("message-menu-content");
          messageMenu.innerHTML = mmc.innerHTML;

          back.addEventListener("click", (e) => {
            e.stopPropagation();
            back.parentElement.removeChild(back);
            messageMenu.parentElement.removeChild(messageMenu);
            for (const sub1 of document.getElementsByClassName("menu-btn")) {
              sub1.classList.remove('active');
            }
          });
          messageMenu.addEventListener('click', (e) => {
            e.stopPropagation();
          });
        }
      }
    });
  }
</script>