<div class="content">
  <h3>Критическая уязвимость серверов 1Cloud</h3>
  <p>
    Хотим поделиться своим опытом работы с серверами 1cloud. Мы не хотим никого обвинять,
    просто хотим выставить проблему на всеобщее обозрение, чтобы у сотрудников 1cloud
    появилась мотивация для проведения детального анализа данной проблемы.
  </p>
  <p>
    Началось все с того, что последние месяцы на Windows серверах 1cloud, мы начали замечать
    аномальную нагрузку, но не придавали этому особого значения, так как Windows сервера в основном
    использовались для выполнения различных мелких задач типа использование браузера и любых других
    программ, да и особо не было желания выяснять что там и как.
  </p>
  <p>
    Профессия менеджера продукта становится одной из самых востребованных в России. Продактами «не рождаются, ими
    становятся», при чем зачастую те, кто работал в смежных областях или вообще с нуля решил прийти в профессию. При
    этом если эта профессия требует постоянно развития, а быть продакт-менеджером в крупной или средней компании,
    столкнувшейся с цифровыми изменениями, – новый вызов. Ожидания клиентов меняются очень быстро: ценовая конкуренция
    переходит в конкуренцию удобства и сервиса – клиенты ждут «цифрового» уровня сервиса от всех от всех провайдеров, с
    которыми они взаимодействуют, хотят больше, чем просто «хороший продукт». На мастер-классе мы поговорим о новых
    реалиях и требованиях к профессии, о важных решениях, которые должен принять любой менеджер для своего успеха.
  </p>
  <p>
    Штатная программа для перепаковки видео из контейнера «264» в контейнер «avi» давала разные результаты по поводу
    частоты кадров. В случае с видео, которые были записаны в режиме высокого разрешения (704*576) частота кадров
    составила 20 кадров/сек. А в случае с низким разрешением (352*288) – 25 кадров/сек. Эту информацию выдаёт утилита
    «MediaInfo» Она же выдаёт то, что <b>размер видео при любом случае единый</b>: 720*576, причём размер видеопотока
    (эта же утилита сообщает) — 704*576 или 352*288. Большинство плееров разворачиваются именно под размер видеопотока.
    Однако встречался мне плеер, который некорректно отображал полуэкранный режим при воспроизведении файла 352*288. Я
    хотел исправить этот незначительный недостаток штатного перепаковщика, заглянув в байты содержания видеопотока и
    вытащив оттуда информацию о размере кадра. Но на скорую руку этого мне сделать не удалось. Вышесказанное
    продемонстрировано на рисунке ниже.
  </p>
  <p>
    В основной функции, кроме организации каталогов, происходит считывание входного файла функцией сканирования. В
    зависимости от того, что возвратила эта функция, происходят дальнейшие действия. Если это заголовки видеопотоков, то
    формируются в выходной avi файл соответствующие заголовки. Там они именуются по-другому: «00db» — это заголовок
    блока видеопотока опорного кадра, а «00dc» — для сжатого кадра. После операции перепаковки (переписывания слов)
    перед новым вновь встретившимся заголовком происходит расчёт размера перепакованного содержимого и запись этого
    значения в поле, которое следует сразу за заголовком только что обработанного потока. Если при сканировании
    встретился заголовок аудиопотока, то формируется в выходной avi файл имя заголовка «03wb» и тут же в цикле
    происходит декодирование аудиопотока из ADPCM в PCM одновременно с записью декодированного содержимого в avi файл.
    Одновременно со всем вышесказанным происходит фиксирование краткой информации (оглавления) во временный файл
    индексов «index». Функцию сканирования можно было не делать, а всё писать в основной функции. Но тогда программа бы
    получилась очень громоздкой и практически сложно читаемой.
  </p>
</div>
<div>
  &nbsp;
</div>
