<div class="sidebar">
  <h4>Заголовок здешний</h4>
  <p>
    Обзор касается именно промышленных предприятий и потому довольно субъективен. Чтобы сделать его более предметным,
    разберем основные плюсы новой системы, которые озвучиваются в маркетинговых материалах, и оценим, так ли они нужны
    нашим предприятиям.
  </p>
</div>
<div class="sidebar">
  <h4>About year 2018</h4>
  <p>
    Текущий 2018 год интересен тем, что чуть ли не каждый месяц появляется информация о новых аппаратных уязвимостях:
    <b>Spectre</b> и <b>Meltdown</b>.
  </p>
</div>
<div class="sidebar">
  <h4>Защищённый регион в памяти</h4>
  <p>
    Модуль SGX создаёт в памяти защищённый регион — PRM (Processor Reserved Memory), который также называют
    <b>анклавом</b>. Процессор защищает анклав от любых попыток доступа, в том числе и со стороны ядра, гипервизора и
    <a href="https://en.wikipedia.org/wiki/System_Management_Mode" target="_blank">SMM</a> (System Management Mode), а
    также от попыток доступа со стороны периферийных устройств.
  </p>
</div>
