doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Hello World
    link(rel='stylesheet' href='css/main.css')
  body
    .container
      .row
        .col-md-7.offset-2
          .nav
            ul
              li
                a(href="#1") Главная страница
              li
                a(href="#") Форум
    .container
      .row
        .col-md-7.offset-2
          h3
            | Критическая уязвимость серверов 1Cloud
          p
            | Хотим поделиться своим опытом работы с серверами 1cloud. Мы не хотим никого обвинять,
            | просто хотим выставить проблему на всеобщее обозрение, чтобы у сотрудников 1cloud
            | появилась мотивация для проведения детального анализа данной проблемы.
          p
            | Началось все с того, что последние месяцы на Windows серверах 1cloud, мы начали замечать
            | аномальную нагрузку, но не придавали этому особого значения, так как Windows сервера в основном
            | использовались для выполнения различных мелких задач типа использование браузера и любых других
            | программ, да и особо не было желания выяснять что там и как.
        .col-md-3 asd1