html {
  font-size: 16px;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 1rem;
  background-color: $color-bg;
  line-height: 1.56rem;
}

h3 {
  font-size: 1.17rem;
  font-weight: 700;
  margin-top: 0.9rem;
  margin-bottom: 1rem;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.row div {
  //border: 1px solid green;
}

b {
  font-weight: 700;
}