
.content, .right {
  background-color: $color-content-bg;
  margin-top: 1rem;
  padding: 0.9rem;
  text-align: justify;
  //border-radius: 0.5rem;
  //box-shadow: inset -0.3rem -0.3rem darken($color-content-bg, 20);
}

.right {
  font-size: 0.9rem;
  h4 {
    font-weight: 700;
    padding-bottom: 0.5rem;
    margin-bottom: 0.2rem;
    border-bottom: antiquewhite 1px solid;
  }
}