
.content, .sidebar {
  background-color: $color-content-bg;
  margin-top: 1rem;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
  text-align: justify;
  p::first-letter {
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    padding-right: 0.3rem;
  }
}

.sidebar {
  font-size: 0.9rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  h4 {
    font-weight: 700;
    padding-bottom: 0.5rem;
    margin-bottom: 0.2rem;
    border-bottom: antiquewhite 1px solid;
  }
  p {
    margin-top: 0.1rem;
    margin-bottom: 0;
  }
  p::first-letter {
    font-size: 1.5rem;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    padding-right: 0.3rem;
  }
  a {
    color: $color-ref;
    text-decoration: none;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      bottom: 0.06rem;
      left: 0;
      background-color: $color-ref;
      transform: scale(0);
      transform-origin: right;
      transition: 0.2s;
    }
    &:hover::after {
      transform: scale(1);
    }
  }
}
