
.forum-content {
  background-color: $color-content-bg;
  margin-top: 1rem;
  padding-top: 1px;
  padding-right: 0.9rem;
  padding-left: 0.9rem;
  padding-bottom: 1px;
  position: relative;
  text-align: justify;
  p::first-letter {
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    padding-right: 0.15rem;
  }

  h3 {
    margin-top: 0.9rem;
  }

  p b {
    font-weight: 700;
  }

  p {
    margin-top: 0.9rem;
    margin-bottom: 0.9rem;
  }

  .message-number {
    position: absolute;
    color: lighten($color-ref, 30%);
    font-size: 0.6rem;
    line-height: 0.6rem;
    top: 0.25rem;
    right: 1.5rem;
    a {
      color: lighten($color-ref, 30%);
      text-decoration: none;
    }
  }

  .menu-btn {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.forum-author {
  margin-top: 1rem;
  padding: 0.2rem;
  background-color: $color-content-bg;
  font-size: 0.8rem;
  text-align: left;
  color: $color-ref;

  .name {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.3rem;
  }

  .avatar img {
    vertical-align: middle;
  }

  .edit-full {
    font-size: 0.8em;
    line-height: 0.7rem;
  }
}
