.nav ul {
  li {
    //border: aqua 1px solid;
    display: inline-block;
    margin-right: -4px;
    position: relative;
    transition: $transition;
    color: $color-ref;
    &::before {
      content: '';
      position: absolute;
      background-color: $color-ref;
      height: 2px;
      left: 0;
      right: 0.6rem;
      bottom: 0.1rem;
      z-index: -1;
      transition: $transition;
      transform: scale(0);
    }

    &:hover {
      color: darken($color-ref, 20);
      &::before {
        content: '';
        position: absolute;
        background-color: darken($color-ref, 20);
        height: 2px;
        left: 0;
        right: 0.6rem;
        bottom: 0.1rem;
        z-index: -1;
        transform: scale(1);
      }
    }
    a {
      display: inline-block;
      text-decoration: none;
      color: $color-ref;
      padding-right: 0.7rem;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      transition: $transition;
      &:hover {
        color: darken($color-ref, 20);
        transition: $transition;
      }
      &.active {
        position: relative;
        &::before {
          position: absolute;
          content: '';
          height: 3px;
          left: 0;
          right: 0.6rem;
          top: 0.1rem;
          background-color: $color-ref;
          transition: $transition;
        }
        &:hover {
          &::before {
            background-color: darken($color-ref, 20);
            transition: $transition;
          }
        }
      }
    }
  }
}
