
.pager-content {
  background-color: $color-content-bg;
  margin-top: 1rem;
  padding: 0.9rem;

  input {
    width: 3rem;
    text-align: left;
    font-size: 1rem;
    padding: 0.1rem;
    outline: none;
    border: $color-content-bg dotted 1px;
    &:focus {
      border: $color-content-bg dotted 1px;
      border-bottom: $color-ref solid 1px;
      outline: none;
    }
  }

  a, a-a {
    color: darken($color-ref, 5%);
    text-decoration: none;
    position: relative;
    transition: 0.3s;
    outline: none;

    &:hover {
      color: darken($color-ref, 40%);
    }

    &::after {
      content: '';
      position: absolute;
      display: inline-block;
      height: 1px;
      width: 100%;
      bottom: 0;
      left: 0;
      background-color: darken($color-ref, 5%);
      transform: scale(1);
      transform-origin: bottom left;
      transition: 0.3s;
    }
    &:hover::after {
      transform: scale(0);
    }
  }

  .current {
    font-weight: 600;
  }
}
