@import 'https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:400,700';
@import 'https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i';

$color-content-bg: #ffffff;
$color-bg: #fff0dc;
$color-ref: #307d90;
$transition: 0.2s;

@import "common";
@import "header";
@import "content";
@import "forum";
@import "notes";
@import "pager";
@import "menu-btn";
