@import 'https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:400,700';
@import "~bootstrap/scss/bootstrap-grid";
@import "reset";

$color-content-bg: white;
$color-bg: #fff0dc;
$color-ref: #307d90;

html {
  font-size: 16px;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 1rem;
  background-color: $color-bg;
  line-height: 1.56rem;
}

h3 {
  font-size: 1.17rem;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.row div {
  //border: 1px solid green;
}

.header-panel {
  border-bottom: solid 1px darken($color-content-bg, 20);
}

$transition: 0.2s;

.nav ul {
  li {
    //border: aqua 1px solid;
    display: inline-block;
    margin-right: -4px;
    position: relative;
    transition: $transition;
    color: $color-ref;
    &::before {
      content: '';
      position: absolute;
      background-color: $color-ref;
      height: 2px;
      left: 0;
      right: 0.6rem;
      bottom: 0.1rem;
      z-index: -1;
      transition: $transition;
      transform: scale(0);
    }

    &:hover {
      color: darken($color-ref, 20);
      &::before {
        content: '';
        position: absolute;
        background-color: darken($color-ref, 20);
        height: 2px;
        left: 0;
        right: 0.6rem;
        bottom: 0.1rem;
        z-index: -1;
        transform: scale(1);
      }
    }
    a {
      display: inline-block;
      text-decoration: none;
      color: $color-ref;
      padding-right: 0.7rem;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      transition: $transition;
      &:hover {
        color: darken($color-ref, 20);
        transition: $transition;
      }
    }
  }
}

.content, .right {
  background-color: $color-content-bg;
  margin-top: 1rem;
  padding: 0.9rem;
  text-align: justify;
  //border-radius: 0.5rem;
  //box-shadow: inset -0.3rem -0.3rem darken($color-content-bg, 20);
}

.right {
  font-size: 0.9rem;
  h4 {
    font-weight: 700;
    padding-bottom: 0.5rem;
    margin-bottom: 0.2rem;
    border-bottom: antiquewhite 1px solid;
  }
}